* {
  box-sizing: border-box;
}
body {
  background-color: #eef9bf;
}

.titulo-site {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parrotcardgame {
  font-family: "Roboto", sans-serif;
  color: #75b79e;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -0.004em;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  width: 872px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.conteudo button {
  height: 146px;
  width: 117px;

  background-color: #ffffff00;
  border: none;
  border-radius: 5px;

  margin: 0 17px 34px 17px;
}
.conteudo button > div {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.conteudo button div div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 146px;
  width: 117px;
  background-color: #a7e9af;
  border: 1px solid #99cea8;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  backface-visibility: hidden;
}

.costas-carta {
    transform: rotateY(180deg);
  }
  .carta.virada {
    transform: rotateY(180deg);
  }
    
.escondido {
  display: none;
}

.conteudo img {
  width: 100px;
  height: 100px;
}

@media (max-width: 614px) {
  .conteudo {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .parrotcardgame {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.004em;
    text-align: center;
  }
  
}
